<div class="productMainContainer" fxLayout="columns wrap" fxLayoutAlign="center center">
  <div class="productName">
    {{this.arrProductItem.name}}
  </div>
  <div class="imgDiv">
    <img src="{{ this.arrProductItem.imgPath }}" class="productImg">
  </div>


  <div class="productInfo" fxLayout="rows wrap">
    <div class="productAttributes" fxLayout="columns wrap">
      <div class="itemAttribute"><a class="txtSpacer">商品コード</a></div>
      <div class="itemAttribute"><a class="txtSpacer">{{this.arrProductItem.itemcode}}</a></div>
      
      <div class="itemAttribute"><a class="txtSpacer">価格</a></div>
      <div class="itemAttribute"><a class="txtSpacer">{{this.arrProductItem.itemPrice  | currency : 'JPY': true}}</a></div>
    
      <div class="itemAttribute"><a class="txtSpacer">在庫数</a></div>
      <div class="itemAttribute"><a class="txtSpacer">{{this.arrProductItem.stockCount}}</a></div>

      <div class="itemAttribute"><a class="txtSpacer">メーカー</a></div>
      <div class="itemAttribute"><a class="txtSpacer">{{this.arrProductItem.manu}}</a></div>
  </div>
  
  

  </div>

  <div class="productDesc">
    {{this.arrProductItem.desc}}
  </div>


</div>

<div>
  <a routerLink="/start" class="btnLion btn" id="login">メニュー</a>
  <a class="btnLion btn" id="logout" (click)="Logout()">ログアウト</a>
</div>