<div class="orderMainContainer" fxLayout="rows wrap" fxLayoutAlign="center center">
  <div class="OrderNumberHead">発注書番号：{{arrOrderDetails.orderID}}</div>

  <div class="orderDetails" fxLayout="columns wrap" fxLayoutAlign="start start">
    <div class="orderManuHead">メーカー</div>
    <div class="orderManu">{{arrOrderDetails.manu}}</div>
    <div class="orderManuHead">納品先店舗</div>
    <div class="orderManu">{{arrOrderDetails.destShop}}</div>
  </div>
  <div class="orderDetails" fxLayout="rows wrap" fxLayoutAlign="start start">
    <div class="orderManuHead">納品予定日</div>
    <div class="orderManu">{{arrOrderDetails.eta * 1000 | date:jpn}}</div>
    <div class="orderManuHead">発送状況</div>
    <div class="orderManu strStatus">{{arrOrderDetails.orderStatus}}</div>
  </div>


</div>


<!-- <agm-map>
  <agm-marker ></agm-marker>
</agm-map> -->


<!-- arrOrderDetails -->